<h1>Employees#edit</h1>
<p>Find me in app/views/employees/edit.html.erb</p>
<%= form_tag({ controller: "employees", action: "update" }, remote: true, method: "patch") do %>
	<p>
		<%= label_tag(:name, "Name:") %>
		<%= text_field_tag :name, @employee.name %>
	</p>	
	<p>
		<%= label_tag(:designation, "Designation:") %>
		<%= text_field_tag :designation, @employee.designation %>
	</p>	
	<%= submit_tag("Update") %>
<% end %>